# Python's Basic Computational Powers

In [ ]:
## write a 3-digit number

In [ ]:
## write a 6-digit number

#### Write the following number:five hundred and fourty-seven billion three hundred and ninety-two million four hundred and six thousand and one hundred and twenty two

In [ ]:
## write it here

In [ ]:
## write with thousands separators

In [ ]:
## Pythonic thousand seps

### Basic calculations and naming conventions


In 2023 these roomates paid the following rents:
- Alfred pays 900 for a room in an apartment.
- Fatima pays $1200 for the largest room.
- Trina pays 700 for the closet size room.

What percent of the total rent does Trina pay?

In [ ]:
## CALCULATE HERE Trina's share of the rent

### Order of Operations 

#### PEMDAS

This stands for 
- **parenthesis**, 
- **exponents**, 
- **multiplication**, 
- **division**, 
- **addition**, 
- **subtraction**.

If you have to do more than one of these in an expression, PEMDAS dictates the order of operations.

In [ ]:
## WITH parenthesis)

### Naming Variables

The idea is to give meaningful names so you aren't confused by what they stand for. Apart from that, here are some basic rules:

-   They ARE case sensitive.
-   Cannot begin with numbers.
-   Make them unique (just like IDs, you should only have ONE variable with a particular name).
-   No spaces between words, but don't use compound words (```monthlyexpensessandeep```) because they are hard to read. Instead use:
    - camelCase (```monthlyExpensesSandeep```)
    - **underscores or snake_case: (```monthly_expenses_sandeep```)**

    
-   Don't use any Python programming terms [reserved words](https://betterprogramming.pub/all-33-reserved-keywords-in-python-98e55f6c8ded).
-   Think of code as story. Each variable is like a character/actor. Naming each in a relevant way such makes the narrative (the code) easier to follow.
-   Keep the variables short but make sure they make sense.

In [ ]:
## assign values to variables

In [ ]:
## can also assign like this:

In [ ]:
## call variables

In [ ]:
## calculate trina's share using variables

In [ ]:
## place result into in variable

## Built-in Functions
You've encountered a built-in function in ```print()```

In simplest terms (good for now), a ```built-in function``` comes as standard part of Python and carries out one or more steps on something we aim it at. What we target for the function goes inside the parenthesis. You've already used a built-in function:

```print("output something")```

In [ ]:
## write a negative number

In [ ]:
##### Convert a number into an absolute 
## create a variable called some_number with a negative value
## covert it to an absolute number

In [ ]:
## how long was our super long number?

In [ ]:
## what type of data is a 45?

In [ ]:
## what type of data is 3.28

In [ ]:
## what type of data is "Sandeep"

I will introduce others through the course as need. There are <a href="https://docs.python.org/3/library/functions.html">dozens of built-in functions</a>, but I will be introducing the most useful ones little by little.

In [ ]:
#### Back to our rental numbers 
## our print variables

In [ ]:
## print all our variables

## f-string literals (or f-strings)

```print(f"Some identifier words: {actual_variable}")```

In [ ]:
## using f-string
## print total all the monthly rents plus totals using f-strings

## f-strings with thousands separators

```print(f"Some identifier words: {actual_variable:,}")```

In [ ]:
## put our big number into a variable and make it even bigger by multiplying it by 150

In [ ]:
## f-print with thousand sep

## f-strings with thousands separators and rounding (round to 2 decimal places)

```print(f"Some identifier words: {actual_variable:,.2F}")```

In [ ]:
## f-string also do calculations divive 27 by 4.2 and store it in a variable

In [ ]:
## f-print with variable rounded to 2 places