In [1]:
## write a 3-digit number
192

192

In [3]:
## write a 6-digit number
600890

600890

#### Write the following number:five hundred and fourty-seven billion three hundred and ninety-two million four hundred and six thousand and twenty two

In [5]:
## write it here

547392406022

547392406022

In [9]:
## write with commas
547,392,406,122

(547, 392, 406, 122)

In [11]:
## thousand seps
547_392_406_122

547392406122

### Basic calculations and naming conventions


In 2023 these roomates paid the following rents:
- Alfred pays 900 for a room in an apartment.
- Fatima pays $1200 for the largest room.
- Trina pays 700 for the closet size room.

What percent of the total rent does Trina pay?

In [13]:
## CALCULATE HERE Trina's share of the rent
700 / 900 + 1_200 + 700 * 100

71200.77777777778

### Order of Operations 

#### PEMDAS

This stands for 
- **parenthesis**, 
- **exponents**, 
- **multiplication**, 
- **division**, 
- **addition**, 
- **subtraction**.

If you have to do more than one of these in an expression, PEMDAS dictates the order of operations.

In [19]:
## WITH parenthesis)
700 / (900 + 1_200 + 700) * 100

25.0

### Naming Variables

The idea is to give meaningful names so you aren't confused by what they stand for. Apart from that, here are some basic rules:

-   They ARE case sensitive.
-   Cannot begin with numbers.
-   Make them unique (just like IDs, you should only have ONE variable with a particular name).
-   No spaces between words, but don't use compound words (```monthlyexpensessandeep```) because they are hard to read. Instead use:
    - camelCase (```monthlyExpensesSandeep```)
    - **underscores or snake_case: (```monthly_expenses_sandeep```)**

    
-   Don't use any Python programming terms [reserved words](https://betterprogramming.pub/all-33-reserved-keywords-in-python-98e55f6c8ded).
-   Think of code as story. Each variable is like a character/actor. Naming each in a relevant way such makes the narrative (the code) easier to follow.
-   Keep the variables short but make sure they make sense.

In [21]:
## assign values to variables
monthly_rent_alfred = 900
monthly_rent_fatima = 1_200
monthly_rent_trina = 700

In [23]:
monthly_rent_fatima

1200

In [25]:
## can also assign like this:
m_alfred, m_fatima, m_trina = 900, 1_200, 700

In [27]:
## call variables
m_trina

700

In [29]:
print(m_trina)

700

In [31]:
## calculate trina's share using variables
m_trina / (m_alfred + m_trina + m_fatima) * 100

25.0

In [142]:
## place result into in variable
share_trina_rent = m_trina / (m_alfred + m_trina + m_fatima) * 100
share_trina_rent

25.0

## Built-in Functions
You've encountered a built-in function in ```print()```

In simplest terms (good for now), a ```built-in function``` comes as standard part of Python and carries out one or more steps on something we aim it at. What we target for the function goes inside the parenthesis. You've already used a built-in function:

```print("output something")```

In [138]:
## write a negative number
-11 * -1

11

In [43]:
##### Convert a number into an absolute 
## create a variable called some_number with a negative value
## covert it to an absolute number

abs(-11)

11

In [47]:
## how long was our super long number?
len("sandeep")

7

In [51]:
"55" * 2

'5555'

In [53]:
type("Sandeep")

str

In [63]:
type(Sandeep)

NameError: name 'Sandeep' is not defined

In [65]:
type("45")

str

In [69]:
sandeep = 100

In [71]:
type(sandeep)

int

In [57]:
## what type of data is a 45?
type(45)

int

In [59]:
## what type of data is 3.28
type(3.28)

float

In [ ]:
## what type of data is "Sandeep"

I will introduce others through the course as need. There are <a href="https://docs.python.org/3/library/functions.html">dozens of built-in functions</a>, but I will be introducing the most useful ones little by little.

In [73]:
#### Back to our rental numbers 
## our print variables
m_alfred
m_fatima
sandeep
m_trina
share_trina_rent

25.0

In [75]:
print(m_alfred)
print(m_fatima)
print(sandeep)
print(share_trina_rent)
print(m_trina)

900
1200
100
25.0
700

## f-string literals (or f-strings)

```print(f"Some identifier words: {actual_variable}")```

In [83]:
## using f-string
## print total all the monthly rents plus totals using f-strings
print(f"Ms. Fatima's rent per month is: {m_fatima}")
print(f"Alfred rent: {m_alfred}")
print(f"Trina rent: {m_trina}")

Ms. Fatima's rent per month is: 1200
Alfred rent: 900
Trina rent: 700

## f-strings with thousands separators

```print(f"Some identifier words: {actual_variable:,}")```

In [93]:
## put our big number into a variable and make it even bigger by multiplying it by 150

big_number = 547_392_406_122
bigger_number = big_number * 150
print(bigger_number)

82108860918300

In [106]:
## f-print with thousand sep

print(f"Big Number got bigger: ${bigger_number:,}")

Big Number got bigger: $82,108,860,918,300

## f-strings with thousands separators and rounding (round to 2 decimal places)

```print(f"Some identifier words: {actual_variable:,.2F}")```

In [131]:
## f-string also do calculations divive 27 by 4.2 and store it in a variable

result = 27/4.2

In [135]:
result

6.428571428571428

In [133]:
## f-print with variable rounded to 2 places

print(f"The gap is: {result:,.2F}")

The gap is: 6.43