# And now introducing Pandas...

- Named after a cute animal?
- Open source (free) Python library.
- Most widely used package for data analysis.
- Future-proof: used for AI and machine learning tasks.

# Import & Explore

Before we can analyze data, we have to learn how to:

- import different types of spreadsheet files,
- get a quick sense of what our data holds,
- explore different sections of our data in Pandas context.
- call different rows of data

## Import Pandas

Unlike the "Vanilla Python" we've written so far, we have to import Pandas which brings ALL its functionality into our iPython Notebook (```.ipynb```).

In [1]:
## import pandas
import pandas as pd

## Import CSV data into our Colab notebook

Download this data:


*   <a href="https://github.com/sandeepmj/datasets/blob/main/importing/insurance.csv">Insurance by region</a>

### Read a CSV file into your notebook

#### Bring in ```insurance.csv``` into Pandas

- You must provide a ```path``` to the file you are importing.

Syntax: ```pd.read_csv("path_to_file")```

In [ ]:
## simply read the csv file when data file is at the same level

#### Folder path

Now duplicate ```insurance.csv``` and move it into a folder called ```data_raw```.

In [ ]:
## simply provide the path to read the csv file when data file is in a different folder

### Read and hold CSV content into a ```dataframe```

The naming convention is to call it a ```df```

In [ ]:
## read and store csv in a datafram

## Explore our dataframe

In [ ]:
## call the df
## returns the first 5 and last 5 rows

In [ ]:
## type df

In [ ]:
## call the top only
## returns first 5

In [ ]:
## call the top n rows

In [ ]:
## call the last 5

In [ ]:
## call the last n

In [ ]:
## call a random sample n number of rows

In [ ]:
## get basic overview of the data

### Dataframe objects
Like "Vanilla Python" floats are floats, integers are integers.

The big difference is that a ```string``` value is known as an ```object```.

## Importing a simple Excel file

Download this    <a href="https://github.com/sandeepmj/datasets/blob/main/importing/global_life.xlsx">Life expectancy called ```global_life.xlsx``` </a> and then read it into Pandas

In [ ]:
## step 1. confirm that read returns a df
## step 2. place it into a df, call the df

In [ ]:
## call the top 15 values

In [ ]:
## call the last 3 values

In [ ]:
## show 13 random rows

## Open this ```.xlsx``` file using Excel

What do you notice?

## Read a specific sheet in an Excel file

From ```global_life.xlsx```, import only ```global life expectancy``` sheet (Target  from an .xlsx file)

```pd.read_excel("path_to_file", sheet_name = "name of sheet")```

In [ ]:
## read the excel file and provide the sheet_name parameter

But if you have a Excel workbook with hundred of sheets, you won't want to type in the name of each one. You'll also want to automate it. So we'll reference the sheet with as a number instead:

```pd.read_excel("path_to_file", sheet_name = "sheet_number")```

In [ ]:
## read the excel file and provide the sheet_name parameter

## Special import cases

Download this <a href="https://github.com/sandeepmj/datasets/blob/main/importing/SBA_Disaster_Loan_Data_FY18.xlsx">SBA disaster loan FY 2018</a> file.


Import the sheet ```FY18 Business``` from ```sba-disaster-loans-18.xlsx```.

In [ ]:
## import here
## what do you that's not right?

## Does anything appear strange?

## Read a specific sheet in an Excel file but **this time skip the first few rows of formatting**

From ```SBA_Disaster_Loan_Data_FY18.xlsx```, import ```FY18 Business``` sheet (You have to skip the first 5 rows)

In [ ]:
## read the excel file, provide the sheet_name parameter AND the skiprows parameter
## once it works, store in df