# Sorting, Counting, Subsetting

## Import libraries

In [ ]:
## import libraries

## Upload Olympics datasets to this notebook.

### Import ```olympics-summer.csv``` and store in a dataframe called ```dfs``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv">link</a>).


### Import ```olympics-winter.csv``` and store in a dataframe called ```dfw``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv">link</a>).

In [ ]:
## import summer data

In [ ]:
## import winter data

## Get a sense of the data

In [ ]:
## SUMMER
## what exactly do we have: columns, datatypes, etc.

In [ ]:
## WINTER
## what exactly do we have: columns, datatypes, etc.

## Subsetting dataframes into smaller, targeted dataframes

When you subset a dataframe, you are filtering down based on selecting specific columns. We want to winnow a large dataset to manageable size by including only relevant columns.

There are two ways of doing this. One simple method is very common (you'll see many people use it), but the other method (also simple) is way more powerful and flexible.

### Method 1 - Pass a list of multiple column headers, it returns dataframe with only those columns
This is like calling a series (```df["Year"]```), but multiple columns:

####  ```df[["Column 1", "Column 2"]]```

In [ ]:
## Create a dataframe that for only summer games years and cities

## Sorting by single value

```dataframe.sort_values(by="Value 1", ascending = True)``` for A-Z or smaller numbers to bigger numbers

```ascending = False``` for Z-A or bigger to smaller numbers.

In [ ]:
## sort by athlete names A-Z for winter olympics

In [ ]:
## sort city z-a

## Sorting by multiple values

```dataframe.sort_values(by=["Value 1", "Value 2"], ascending = True)``` for A-Z or smaller numbers to bigger numbers

```ascending = False``` for Z-A or bigger to smaller numbers.

In [ ]:
## Sort by values (City and Year) for winter olympics

In [ ]:
## sort by year and then city

In [ ]:
## sort by city and year but descending for summer games

In [ ]:
## you can store into a new df

## Please don't open till instructed

### Should Winter and Summer data remain separate?

### What if we want to know total gold medals for any country?

### But if we combine them, how to we easily distinguish between summer and winter?

### Creating a new column with a default value

In [ ]:
## In the summer dataframe, add "Season" column with the value "Summer"

In [ ]:
## In the winter dataframe, add "Season" column with the value "Winter"

In [ ]:
## are the two column headers identical?

In [ ]:
## join winter and summer dataframes together into a dataframe called df

In [ ]:
### confirm that you have the correct number of rows after the join.
### you can scroll up to count the number of entries in oly_w and oly_s.
### The totals should be equal to the value generated below

## Improving memory allocation

If we were working with a massive dataset, we'd want to find ways to improve processing power.

For example, the following columns have only a few values that repeat again and again as strings. This is highly inefficient.

- The "Season" column has "winter" and "summer",
- The "Medal" column only has "gold", "silver" and "bronze",
- "Gender" at this point in the Olympics only has "male" and "female".

One way to improve memory allocation is to take columns with that contain only a few data points and turn them into categories.

In [ ]:
## you should see how "Season", "Medal" and "Gender" are all string objects.
## Note that memory usage: 29+ MB

### Convert to single column to category
```df["column_name"].astype("category")```

In [ ]:
## convert gender to category

In [ ]:
## INFO

### Convert to multiple columns to category

 ```df[["column_name1", "column_name2]].astype("category")```

In [ ]:
## convert medal and season  to catagory

In [ ]:
## See what the memory allocation is now using info()

# It should have dropped to 23.5MB.
That's a big descrease for just about 270,000 rows.

This would have an even bigger impact on larger datasets.

# Query to subset

Create smaller datasets with only the information you want

### Create a subset that holds the results from the Sochi Olympics

```df.query("ColumnName == 'some_value'")```

In [ ]:
## return df that holds only Sochi data

### Note the order of the single and double quotes:

If you open with double quotes, the inner quotes have to be single quotes:

```df.query("City == 'Sochi'")```

If you open with single quotes, the inner quotes have to be double quotes:

```df.query('City == "Sochi"')```


Using the same outer and inner quotes will break your code:
</br>
```df.query("City == "Sochi"") ## will break ```

In [ ]:
## Store subset into dataframe called sochi_df

**Syntax for querying multi-word column names:**

```dataframe.query('`column name` comparison_operator value')```

Note the opening and closing tick marks ``` ` ```

In [ ]:
#will break

In [ ]:
## query to return on french athletes

## Filtering by dates

You'll learn more about date and time in the coming week. For now, please note how the ```Year``` column is a  ```int64``` object and NOT a ```datetime``` object. We can still work with it for our needs.

In [ ]:
## GET INFO

In [ ]:
## Find all the 1900 competitions

In [ ]:
### return all the competitions between 1920 and 1950 (inclusive)

In [ ]:
## Were there any games in 1950

In [ ]:
## return only Tennis competitions between 1920 and 1950 (inclusive)

In [ ]:
## return only Women's Tennis competitions results
## between 1996 and 2018 inclusive

In [ ]:
## volleyball or rowing for only Male

## What year was women's boxing introduced to the olympics?

In [ ]:
## find all the names of sports first just to confirm boxing
## does not appear in different names
## how is boxing listed?

### When did boxing first appear as a sport in which women competed at the olympics?

In [ ]:
## query for boxing and women
## store in new df

### How many values in a column?

## Counting

- The ```sum``` adds up all the values in a dataset, to give you the total amount.

- The ```count``` tells you how many items of particular values exist in a dataset. It doesn't care about the values themselves, just the number of entries.

We use the ```.value_counts()``` method:

```df_name["column_name"].value_counts()```

### Summer v. Winter

How many athletes participated in the summer games v. the winter games?

In [ ]:
## total number of athletes

### ```value_counts()``` parameter

By default, it is ```.value_counts(normalize = False)```

This gives you want we calculated above

But ```.value_counts(normalize = True)``` returns  proportions (fractions of the total).

In [ ]:
## get as proportion

In [ ]:
## convert to you want it as a percentage

In [ ]:
## subset data to hold only medals

In [ ]:
## what is the total medal count for winter v. summer?

# DRY

Do not repeat yourself

In [ ]:
##get list of uniques

In [ ]:
# target_medals = ["Gold", "Silver", "Bronze"]

In [ ]:
## get head

In [ ]:
## call winners

In [ ]:
## what is the total medal count for winter v. summer?

## How many medals were handed out at each olympics between 1896 and 2014?

Show the result from highest to lowest.

In [ ]:
## how many medals were handed out at each olympics?
## show the result in descending order

In [ ]:
## how many medals were handed out at each olympics each
## year from as recent as possible down to 1896.

In [ ]:
## top 10 count of gold medals by country

In [ ]:
## count of gold medals by country by percent
## only gold winner df

In [ ]:
## as percent

In [ ]:
## how many times did Russia win the gold?