# Call-and-Respond Challenge

We have <a href = "https://raw.githubusercontent.com/sandeepmj/datasets/main/standardized-test-scores.csv">a dataset of test scores</a> for 100 students who have taken both both the ACT and SAT.

Which score is the better one for each student?

In [14]:
## import libraries and packages
import pandas as pd

## run the display code here to format calculations to 2 decimal places
pd.options.display.float_format = '{:,.2f}'.format

## small trick to improve our display
## will allow us to see dataframes side-by-side
from IPython.display import display, HTML

css = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(css))

In [16]:

df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/standardized-test-scores.csv")
df

     student_ID  scores test
0             1      25  ACT
1             2      21  ACT
2             3      26  ACT
3             4      31  ACT
4             5      20  ACT
..          ...     ...  ...
195          96     767  SAT
196          97    1146  SAT
197          98    1139  SAT
198          99    1084  SAT
199         100    1032  SAT

[200 rows x 3 columns]

## **Create a column that tell us which score is better for each student.**